<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="fondo">
    <div class="overlay take100 centrado-flex">
      <div class="contenedor">
        <div class="formulario">
          <div class="w100 centrado-flex">
            <div class="logo centrado-flex">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user" width="72" height="72" viewBox="0 0 24 24" stroke-width="2" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <circle cx="12" cy="7" r="4" />
                <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" />
              </svg>
            </div>
          </div>
          <form class="login">
            <p class="centra-texto">Ingresa Aqui</p>
            <div class="campos">
              <ion-label >Usuario</ion-label>
              <ion-input type="text" class="input" placeholder="Ingrese su Usuario"></ion-input>
            </div>
            <div class="campos">
              <ion-label >Contraseña</ion-label>
              <ion-input type="password" class="input" placeholder="Ingrese su Contraseña"></ion-input>
            </div>
            <div class="campos">
              <ion-button color="danger" expand="block">Ingresar</ion-button>
            </div>
          </form>
        </div>
        <div class="take100 centra-texto centrado-flex">
          <h1 class="texto flex-column">Programamos en React!! <span>Ven y unete a nosotros!!</span></h1>
        </div>
      </div>
    </div>
  </div>
</ion-content>
